<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <h1><%= current_user.user_name %></h1>
      <%= button_to "Log out", session_url, method: :delete %>
    <% end %>

    <% if !current_user %>
      <%= link_to "Log in", new_session_url %>
    <% end %>
  </header>

<%= yield %>

<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
  <li>
    <%= error %>
  </li>
  <% end %>
</ul>
<% end %>

</body>

<footer>
  <br>
  <br>
  <strong>This is our 99 Cats site. Please feel free to browse!</strong>
  <%= yield :footer %>
</footer>
</html>
